@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:300);
@import url(http://fonts.googleapis.com/css?family=Nothing+You+Could+Do);

h1{
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: left;
	color: black;
	font-weight: 600;
}

h2{
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: left;
	color: black;
	margin-top: -2%;
	margin-bottom: 3%;
	font-size: 130%;
	font-weight: 400;
}

ul.menu{
	margin: 0px;
	padding: 0px;
	text-align: right;
	margin-top: -7.5%;
}

li.bouton{
	font-family: 'Nothing You Could Do', cursive;
	list-style-type: none;
	display: inline;
	padding: 1%;
	font-size: 200%;
	font-weight: bold;
	padding-bottom: 10%;
	text-align: right;

}

a{
	text-decoration: none;
	color: black;
}

a:hover{
	color: #f1655d;

}

html{
	background-attachment: fixed;
	padding-bottom: 12%;
}

body{

	margin: 0px;
	padding: 0px;
	background-attachment: fixed;
	margin-right: 15%;
	margin-left: 15%;
}

header{
	padding-bottom: -2%;
}

p{
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	font-size: 135%;
	padding-bottom: 6%;
}

p.me{
	border-bottom: 1px solid #bdc3c7;
}

h3.soustitre{
	font-family: 'Nothing You Could Do', cursive;
	font-size: 200%;
	text-align: center;	
	font-weight: 100;
}

h3.contact{
	font-family: 'Nothing You Could Do', cursive;
	font-size: 200%;
	text-align: center;
	border-top: 1px solid #bdc3c7;
	padding-top: 4%;
	font-weight: 100;
}

div.voix{
	text-align: center;
	padding-top: 1%;
	margin-top: 4%;
}

ul.icon{
	text-align:center;
	padding: 0; margin: 0;
	padding-bottom: 3%;
	padding-top: 3%;
}

li.social{
	list-style-type: none;
	display: inline;
	padding: 4%;
	font-size: 150%;
	height: 40px;
	width: 40px;
}


div.forma{
	text-align: center;
}

div.view{
	text-align: center;
}

li.marais{
	list-style-type: none;
	display: inline;
}

ul.work{
	margin-top: 10%;
}

nav.work{
	margin-left: 36.5%;
}

h4.soustitre{
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	margin-bottom: -1%;
	font-size: 150%;
	margin-top: -0.5%;
	padding-bottom: 3%;
	margin-right: 70%;
}

a.info{
	font-weight: bold;
	font-family: 'Nothing You Could Do', cursive;
	font-size: 120%;
	margin-left: 11%;
}


div.deco{
	float: left;
	position: absolute;
	
}

section.head{
	text-align: center;
}

section.tab{

}

div.identite{
	text-align: center;
	padding-bottom: 3%;
}

div.techno{
	text-align: left;
	border-right: 1px solid #bdc3c7;
	margin-right: 50%;
}

h4.sttechno{
	margin-left: 50%;
	font-family: 'Nothing You Could Do', cursive;
	font-weight: 400;
}

ul.grouptechno{
	margin-left: 25%;

}

li.icontechno{
	list-style: none;
	display: inline;
	margin: 2.5%;
}

div.technique{
	float: right;
	margin-top: -15%;
}

h4.sttechnique{
	padding-right: 75%;
	font-family: 'Nothing You Could Do', cursive;
	font-weight: 400;
}

ul.grouptechnique{
	margin-left: -45%;
}

li.icontechnique{
	list-style: none;
	display: inline;
	margin: 2.5%;
}

section.comp{
	margin-top: 7%;
	padding-bottom: 5%;
}

h5.title{
	text-align: left;
	font-size: medium;
	margin-left: 10%;
	font-family: 'Open Sans Condensed', sans-serif;
	border-right: 1px solid #bdc3c7;
	margin-right: 50%;
}

h6.date{
	text-align: left;
	font-size: small;
	margin-top: -2%;
	margin-left: 10%;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	border-right: 1px solid #bdc3c7;
	margin-right: 50%;
}

section.school{
	margin-top: 5%;
}

p.description{
	float: right;
	margin-top: -8%;
	font-size: medium;
	margin-right: 10%;
	text-align: right;
}

div.ocr1{
	padding-bottom: 3%;
}

div.ocr2{
	padding-bottom: 3%;
}

div.bac{
	padding-bottom: 3%;
}

strong{
	font-weight: bold;
}

a.dlcv{
	font-family: 'Nothing You Could Do', cursive;
	margin-left: 42%;
}
